.box {
  background-color: #2196f3;
  height: 50px;
}

.box2 {
  background-color: red;
  height: 50px;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > * {
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 1rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.column:nth-child(1) {
  width: 75%;
}

@media screen and (min-width: 40em) {
  .column:nth-child(1) {
    width: 50%;
  }
}

@media screen and (min-width: 64em) {
  .column:nth-child(1) {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.column:nth-child(2) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(3) {
  width: 8.3333333333%;
}

@media screen and (min-width: 40em) {
  .column:nth-child(3) {
    width: 33.3333333333%;
  }
}

@media screen and (min-width: 64em) {
  .column:nth-child(3) {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.column:nth-child(4) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(5) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(6) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(7) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(8) {
  width: 91.6666666667%;
}

.column:nth-child(9) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(10) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(11) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column:nth-child(12) {
  width: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
