.box {
  background-color: #2196f3;
  height: 50px;
}

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row > * {
  box-sizing: border-box;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.column:nth-child(1) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 33.3333333333%;
}

.column:nth-child(2) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 33.3333333333%;
}

.column:nth-child(3) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 33.3333333333%;
}

.column:nth-child(4) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 33.3333333333%;
}

.column:nth-child(5) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 33.3333333333%;
}

.column:nth-child(6) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 33.3333333333%;
}

.column:nth-child(7) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 8.3333333333%;
}

.column:nth-child(8) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 66.6666666667%;
}

.column:nth-child(9) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 8.3333333333%;
}

.column:nth-child(10) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 8.3333333333%;
}

.column:nth-child(11) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 8.3333333333%;
}

.column:nth-child(12) {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 8.3333333333%;
}
